body{
    background-image: url("https://cdn.britannica.com/37/189837-050-F0AF383E/New-Delhi-India-War-Memorial-arch-Sir.jpg");
    background-color: skyblue;
    min-height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
   
}
h1>span{ 
    padding: 2vw;
    color: white;
    border-radius: 2vw;
    font-family: 'Rubik Vinyl', cursive;
    font-weight: bolder;
    font-size:xx-large;

}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    color: rgb(235, 217, 217);
    margin-top: 20px;
    padding: 3vw;
    background-color: rgba(9, 34, 44, 0.758);
    color: aliceblue;        
    text-align: center;                
    border-radius: 2vw;
}